
.project-container{
    
    max-height: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: auto;
    padding-bottom: 5rem;
    padding-top: 5rem;
    background-color: transparent;
}
.project-card{
    background-color: aqua; 
    border: 1px solid black;  
    padding: 10%;
    border-radius: 5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.project-card img {
    width: 60%;
    height: 35%;
    
}

.project-title{
    color :#000;
    padding: 1rem 0;
}
.pro-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
    color: black;
}
.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;

}
.pro-btns .btn{
    padding: 0.5rem 1rem;
}
@media screen and (max-width:740px){
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}